<!-- app/views/messages/_form.html.erb -->
<%= form_for @message, url: messages_path, method: :post, multipart: true do |form| %>
  <div class="message-form">
    <%= form.hidden_field :receiver_id, value: @receiver.id %>
    <%= form.text_area :content, placeholder: 'Type your message here...', class: 'message-content' %>
    
    <!-- Single file input for images and videos -->
    <%= form.file_field :attachment, accept: 'image/*,video/*', class: 'file-input' %>
    
    <%= button_tag 'Send Message', type: 'submit', class: 'send-button' %>
  </div>
<% end %>